<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="StockData" connectionString="server=localhost;user id=root;password=@g9gtP&amp;O2912;database=stockdata" />
  </connectionStrings>
</configuration>